main .card img.card-img-top {
    height: 150px;
    object-fit: cover;
}

main {
.card{
    margin: 5px;
    height: 350px;
    background-color: antiquewhite;
    }

}

header{
    color: yellow;
    font-weight: bold;
    background-color: #0e0bda;
}